{% extends 'base-UserAccounts.html'%}
{% load static from staticfiles %}



{% block head %} <!--  This is for the head of the page, list here  -->  

  
<title>Update</title>
            
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <style>
 
   @import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: blue;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #0059ea;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #0059ea;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background: blue; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, blue, #0059ea);
  background: -moz-linear-gradient(right, blue, #0059ea);
  background: -o-linear-gradient(right, blue, #0059ea);
  background: linear-gradient(to left, blue, #0059ea);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}
</style>

    
    
{% endblock %}

{% block content %} <!-- Put body code here, whatever you want -->
{% if user.is_authenticated %}
<div class="frontofimage">
<div class="top">
        <div class="top">
          <div class="topnav">
            <a class="nonactive" href="/HomeTeacher/">
              <div class="logo"><b>N.A.S.S</b> <small><small>Nebraska Automated Science Standards</small></small> <img src= "/static/nbedit1.png" alt="Nebraska" width="50" height="25"></div></a>
              <div class="topnav-right">
                  <a class="active" href="/HomeTeacher/">HOME</a>
                  <a href="/NSR/">RUBRIC</a>
                  <a href="/UploadLessonPlans/">SUBMIT LESSON</a>
                  <a href="/Submissions/">SUBMISSIONS</a>
                  <a href="/Profile/">SETTINGS</a>
                  <a href="/accounts/logout">LOGOUT</a>
                  </div>
			</div>
 
                         <!-- The Main Section -->
        <div class="login-page">
            <div class="form">
                <h2>Update Information</h2>
                <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Update Information</button>
                </form>
            </div>
        </div>





						 {% comment %}

						 This was the old example stuff, do we need it anymore?

						 <div class="login-page">
							 	
								<div class="form" action="/NASShome/" method="post">
								  <form class="login-form">
									  <h2>Update Information</h2>
									




									
											<label>First Name</label><input type="text" placeholder="Joe" required>
											
											<label>Last Name</label><input type="text" placeholder="Shmoe" required>
											
											<label>User Name</label><input type="text" placeholder="jshmoe" required>
											
											<label>Building</label><input type="text" placeholder="Teacher Administion Building" required>
											
											<label for="password">Password</label><input type="password" name="pword" placeholder="password" required>
											
											<label for="usermail">Email</label><input type="email" name="usermail" placeholder="yourname@email.com" required>
											
											

									<button>Update</button>
								  </form>
								</div>
							  </div>{% endcomment %}






        </div>
        </div>

        
      <!-- End Page Content -->
      </div>

      <!-- Footer -->
      <div class="footer">
        <p class="medium">Powered by 404TeamNotFound</p>
      </div>
      
      

    {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">login</a>
  {% endif %}    
{% endblock %}


