{% extends 'blendedbase.html'%}
{% load static from staticfiles %}
{% load custom_tag_defs %}


{% block head %}
<!--  This is for the head of the page, list here  -->
<title>Submissions</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script>




  function openTab(evt, cityName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}






</script>
<style>

</style>



{% endblock %}

{% block content %}
<!-- body -->
{% if user.is_authenticated %}
<div class="frontofimage">
  <div class="top">
    <div class="topnav">
      <a class="nonactive" ><div class="logo"><b>N.A.S.S</b> <small><small>Nebraska Automated Science Standards</small></small> <img src= "/static/nbedit1.png" alt="Nebraska" width="50" height="25"></div></a>
        <div class="topnav-right">
          <a class="active" href="/HomeTeacher/">HOME</a>
          <a href="/NSR/">RUBRIC</a>
          <a href="/UploadLessonPlans/">SUBMIT LESSON</a>
          <a href="/Submissions/">SUBMISSIONS</a>
          <a href="/Profile/">SETTINGS</a>
          <a href="/accounts/logout">LOGOUT</a>
        </div>
    </div>

    <!-- The Main Section -->
    <div  class="master" >
      <div>
        <br>
        <h2 class="wide" style="margin-top: 5%;"><u>Lesson Plan Submissions</u></h2>
        
        <!-- This is the colored table that will populate stuff -->
        <div style="width: 95%; padding-left: 5%;">
        <br>
            <div>Submission(s)</div>
            <div class="tab">
                <!-- this will dynamically make all the upload tabs -->
                {% if rLength >= 1   %}
                      {% for num in uploadNumArray %}
                        <button class="tablinks" onclick="openTab(event, '{{num}}')">{{num}}</button>
                      {% endfor %}
                {% else %}
                        <p>There was an error gathering information on Results. Contact system admin for more details.</p>
                {% endif %}
            </div>
            
            <!-- Tab content -->
            <div style='text-align: left'>
    
                {% if rLength >= 0   %}
                        {% for num in uploadNumArray %}
                            <div id="{{num}}" class="tabcontent">
                              <h3>Submission: #{{num}}</h3>
                              <br><h4>Comments</h4><br>
                              <textarea rows="15" cols="100" disabled>
                                {{commentsArray|indexLower:num}}                          
                              </textarea>
          
                               
                              <hr><br><h4>Submission Results</h4><br>
                              <textarea rows="15" cols="100" disabled>  
                                {{resultsArray|indexLower:num}} 
                              </textarea>

                              
                              
                              <hr><br><h4>Submission Copy</h4><br>
                              <textarea rows="15" cols="100" disabled>  
                                {{filesArray|indexLower:num}} 
                              </textarea>
                            </div>                     

                            











                        {% endfor %}
                  {% else %}
                          <p>There was an error gathering information on Results. Contact system admin for more details.</p>
                  {% endif %}

              
              
              
              
              
                <!--<div id="1" class="tabcontent">
                    <h3>Submission: #1</h3>
                    <br><h4>Comments</h4><br>
                    <textarea rows="5" cols="75" disabled>
                        Hæc est pars illud. Quid me temptatis transferendum est? Exspectat ut hic quod es? Secreta vitae? 
                    </textarea>


                    <hr><br><h4>Submission Results</h4><br>
                    <textarea rows="5" cols="75" disabled>
                        Hæc est pars illud. Quid me temptatis transferendum est? Exspectat ut hic quod es? Secreta vitae? 
                    </textarea>
                    
                    <hr><br><h4>Submission Copy</h4><br>
                    <div>
                        Image of upload goes here
                    </div>
                

                </div>
                
                <div id="2" class="tabcontent">
                    <h3>Submission: #2</h3>
                    <hr><h4>Comments</h4><br>
                    <textarea rows="5" cols="75" disabled>
                        Hæc est pars illud. Quid me temptatis transferendum est? Exspectat ut hic quod es? Secreta vitae? 
                    </textarea>

                    <hr><br><h4>Submission Results</h4><br>
                    <textarea rows="5" cols="75" disabled>
                        Hæc est pars illud. Quid me temptatis transferendum est? Exspectat ut hic quod es? Secreta vitae? 
                    </textarea>
                    
                    <br><br><h4>Submission Copy</h4><br>
                    <div>
                        Image of upload goes here
                    </div>
                </div>-->
            </div>
            
        </div>
        
      <br><br><br><br><br><br>

      <!-- End Page Content -->
    </div> <!-- this is the end of the main content part-->

    <!-- Footer -->
    <div class="footer">
      <p class="medium">Powered by 404TeamNotFound</p>
    </div>
  </div>
  {% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
  {% endif %}
  {% endblock %}















