{% extends 'base10.html'%}
{% load static from staticfiles %}
{% load staticfiles %}


{% block head %} <!--  This is for the head of the page, list here  -->  
    <title>Upload</title>
            
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    
    
{% endblock %}

{% block content %} <!-- Put body code here, whatever you want -->
{% if user.is_authenticated %}
<div class="top">
    <div class="topnav">
        <a class="nonactive" href="/HomeTeacher/">
          <div class="ABRVIATED"><b>N.A.S.S</b> <small><small>Nebraska Automated Science Standards</small></small> <!--<img src="{% static 'images/nebraksa.jpg' %}" alt="Nebraska">--></div>
          <div class="topnav-right">
              <a class="active" href="/HomeTeacher/">HOME</a>
              <a href="/NSR/">RUBRIC</a>
              <a href="/UploadLessonPlans/">SUBMIT LESSON</a>
              <a href="/Submissions/">SUBMISSIONS</a>
              <a href="/Profile/">SETTINGS</a>
              <a href="/accounts/logout">LOGOUT</a>
              </div>
            </div>
          
         
          
     
                             <!-- The Main Section -->
            <div class="container content center padding-64 " style="max-width:75%" id="band">
                    <div class="master">    
                <h2 class="wide" style="margin-top: 5%;">Check Lesson Plans</h2>
                    
                      
                <!--<form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}-->
                            <!--<form action="/UploadResults/" >-->
                                   
                               


                      <!-- Drop Down to Choose Grade -
                      <br><br>
                      <div>
                      <div class="inline">
                          <b>Choose Grade Level</b><br>
                        <select>
                          <option value="EMPTY">-</option>
                          <option value="K">K</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                          <option value="7">7</option>
                          <option value="8">8</option>
                          <option value="9">9</option>
                          <option value="10">10</option>
                          <option value="11">11</option>
                          <option value="12">12</option>
                        </select>
                    </div>
      
                    <div class="inline2"><b>Select Guidelines to Check</b></div> 
                      <div class="ResponsiveCheckBox">
                                
                              <input type="checkbox" name="vehicle1" value="Bike"/> SC 6.4: Energy  <br />
                              <input type="checkbox" name="vehicle1" value="Bike"/> This is checkbox <br />
                              <input type="checkbox" name="vehicle1" value="Bike"/> This is checkbox <br />
                              <input type="checkbox" name="vehicle1" value="Bike"/> This is checkbox <br />
                              <input type="checkbox" name="vehicle1" value="Bike"/> This is checkbox <br />
                              <input type="checkbox" name="vehicle1" value="Bike"/> This is checkbox <br />     
                      </div>
                    </div>

                    <br><br><br><br><br><br><br><br><br><br><br><br><br>
                    <div style="padding-left: 45%" class="button">
                        <div><b>Upload Files Here</b></div><br>
                        <input type="file" id="myFile"> </input>
                        
                    </div>-->

                    <!-- auth tut -->
                    <!--<form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="myfile">
                        <button type="submit">Upload</button>
                      </form>
                      {% if uploaded_file_url %}
                            <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
                     {% else %}
                       <p>There was an error</p>
                     {% endif %}-->

                     <form method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                      {{ form.as_p }}
                      <!--<input type="file" name="myfile">-->
                      <button type="submit">Upload</button>
                    </form>
                  
                    {% if uploaded_file_url %}
                      <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
                    {% endif %}



                    <br> <br> <br>
                    <!-- <button onclick="myFunction()">Submit</button> 
                    <button type="submit" class="daSubmitButton">Submit</button>
                </form> -->
            </div>

                    
                          





            </div>

            
          <!-- End Page Content -->
          </div>
 
          <!-- Footer -->
          <div class="footer">
            <p class="medium">Powered by 404TeamNotFound</p>
          </div>
          
          {% else %}
          <p>You are not logged in</p>
          <a href="{% url 'login' %}">login</a>
        {% endif %}         

{% endblock %}



