{% extends 'base4.html'%}
{% load static from staticfiles %}
{% load staticfiles %}

{% block head %}
<!--  This is for the head of the page, list here  -->
<title>Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<div class="top" >
    <div class="topnav" >
            <div class="logo"><b>N.A.S.S</b> <small><small>Nebraska Automated Science Standards</small></small> <img src= "/static/nbedit1.png" alt="Nebraska" width="50" height="25"></div>
            <div class="topnav-right">
  <a class="active" href="/HomeTeacher/">HOME</a>
  <a href="/NSR/">RUBRIC</a>
  <a href="/UploadLessonPlans/">SUBMIT LESSON</a>
  <a href="/Submissions/">SUBMISSIONS</a>
  <a href="/Profile/">SETTINGS</a>
  <a href="/accounts/logout">LOGOUT</a>
</div>
</div>

<!-- The Main Section -->
<br />
<br />
<div id="mycontainer" style="padding-top: 10%;">
    <div class="container-fluid" style="border:2px; solid; border-radius: 25px; box-shadow: 5px 3px 3px black; black;padding:20px; width: 75%; margin-top: 1%; background-color: aliceblue;">


        <div class="row">
            <div class="col-sm-4">
                <!--<p><img class="card-img-top" src="person.png" style="width:15%" alt="Photo of sunset" /></p>-->
                <p>{{user.username}}<br /><span>OPS</span></p>
            </div>
            <div class="col-sm-4" align="center">
                <h1><b>Welcome {{user.username}}!</b></h1><br/>
                <p style="text-align: center;">What would you like to do?</p>
            </div>
            <div class="col-sm-4"></div>
        </div>

        <br />
        <div class="row" style="align-content: center; margin-left: 25%;">
            
            <div class="col-sm-3"><a href="/Submissions/"><button type="button" class="button button1 pull-center"  style="margin-left: 5%;  box-shadow: 2px 2px 2px black;"  onmouseover="this.style.color='#00368e'; this.style.background='#C1D1E2'" onMouseOut="this.style.color='#000'; this.style.background='transparent'">Submissions</button></a></div>
            
            <div class="col-sm-3"  ><a href="/NSR/"><button type="button" class="button button1 pull-center"  style="margin-left: 5%; box-shadow: 2px 2px 2px black;"  onmouseover="this.style.color='#00368e'; this.style.background='#C1D1E2'" onMouseOut="this.style.color='#000'; this.style.background='transparent'">Rubric</button></a></div>
            
            <div class="col-sm-3"  ><a href="/Profile/"><button type="button" class="button button1 pull-center"  style="margin-left: -3%; box-shadow: 2px 2px 2px black;"  onmouseover="this.style.color='#00368e'; this.style.background='#C1D1E2'" onMouseOut="this.style.color='#000'; this.style.background='transparent'">Settings</button></a></div>

        </div>
        <br />
        <br />
        <div class="row" style="align-content: center; margin-left: 42%;">
            
            <div class="" ><a href="/UploadLessonPlans/"><button type="button" style="box-shadow: 2px 2px 2px black;" class="button button1 pull-center" onmouseover="this.style.color='#00368e'; this.style.background='#C1D1E2'" onMouseOut="this.style.color='#000'; this.style.background='transparent'">Check Lesson
                    Plans</button></a></div>
            <div class="col-sm-4"></div>
        </div>
        <br />
        <div class="row">
            <!--<p align="left"><b style="margin-left: 10px;">Teacher</b><span align="right" style="margin-left: 1200px;"><img
                        src="question-mark.png" style="width:2%" alt="Photo of sunset" /><span></p>-->
        </div>
    </div>
</div>
<!-- End Page Content -->

<!-- Footer -->
<div class="footer">
    <p class="medium">Powered by 404TeamNotFound</p>
</div>
{%else%}
    <p>You seem to not be logged in. Please login <a href="{% url 'login' %}">here</a> </p>
{% endif%}
{% endblock %}